<div class="container" *ngIf="this.localService.getUserObj()?.typeOfUser!='guest'">

<div></div>
<div class=" glow-on-hover" (click)="deleteUserHandler()">
 Delete User
</div>
<div class=" glow-on-hover" (click)="VerifyAndUpdatePasswordHandler()">Change user detail's</div>


<div *ngIf="this.localService.getUserObj()?.typeOfUser=='admin'" class="glow-on-hover" [routerLink]="['/users', this.localService.getUserObj().email, 'admin'] " >
  Admin panel
 </div>

</div>

<h1 *ngIf="this.localService.getUserObj()?.typeOfUser=='guest'" class="neon">You need to log in to access your settings.</h1>
