.delete-User,.log-out,.change{
color:#fff ;
font-size: 28px;
text-shadow:  0 0 5px #ffffff2c, 0 0 10px #ffffff93, 0 0 20px #fff, 0 0 40px rgba(5, 75, 75, 0.778), 0 0 80px rgb(38, 142, 142), 0 0 90px rgb(35, 119, 119), 0 0 100px rgb(37, 72, 72), 0 0 150px rgb(12, 51, 51);
margin-bottom: 5px;
cursor: pointer;
height: auto;

}

.container{
  height: 300px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 0;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  max-width: 290px;
}
.delete-User:hover,.log-out:hover,.change:hover{
background: #a099991f;
border-radius: 15px;
width: 100%;
display: flex;
/* align-items: center; */
justify-content: center;
}


.neon {
  position: relative;
   display:flex;
   justify-content: center;

    color:  #2200ff;
    font-size: 5vw;
    /* font-family: 'Pacifico', cursive; */
    text-transform: uppercase;
    animation: shining 0.1s alternate infinite;
    text-align:center;
 }
  @keyframes shining {
    from {
      text-shadow: 0 0 6px rgba(182, 211, 207, 0.9), 0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(15, 115, 223, 0.5), 0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(15, 115, 223, 0.8), 0 0 54px rgba(15, 115, 223, 0.9);
   }
    to {
      text-shadow: 0 0 6px rgb(182, 211, 187), 0 0 30px rgba(133, 233, 139, 0.4), 0 0 12px rgba(15, 223, 36, 0.6), 0 0 22px rgba(43, 223, 223, 0.8), 0 0 38px rgba(15, 223, 223, 0.9), 0 0 60px rgb(15, 223, 223);
   }
 }
 h1{
   background-image: linear-gradient(to right, #00ffbb, #c44040);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
.glow-on-hover{
  padding: 5px;
  height: auto;
  font-size: 24px;
  margin: 10px;
}
