

.empty-div{
  height:800px;
}

body {

  text-align: center;
  background-color: hsl(0, 0%, 8%);
   background:(linear-gradient(hsl(0, 0%, 15%) 0%, hsl(0, 0%, 8%) 90%));
  background-size: 100% 150%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}
.sign-wrap {
  width: 50vw;
  display: inline-block;
  margin-top: 40px;
  padding: 20px;
  border-radius: 28px;
  background-color: hsl(0, 0%, 8%);
  box-shadow: 0px 50px 45px -15px rgba(0, 0, 0, 0.5),
    0px 20px 10px -5px rgba(0, 0, 0, 0.5), 0px 5px 20px 0px rgba(0, 0, 0, 0.5),
    0px 10px 30px rgba(0, 0, 0, 0.7) inset;
  border: 4px solid lighten(black, 12%);
  border-top: 4px solid black;
  border-bottom: 4px solid lighten(black, 16%);
}
.sign {
  display: flex;
  padding: 20px 60px;
 align-items: center;
 justify-content: center;
  border-radius: 20px;
  -webkit-filter: blur(0.75px);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.7), 0px 0px 0px 5px rgb(0, 38, 255),
    0px 0px 0px 3px rgb(0, 42, 255) inset, 0px 0px 60px transparentize(rgb(21, 0, 255), 0.5),
    0px 0px 60px transparentize(rgb(0, 13, 255), 0.5) inset;
}
a {
  font-family: avenir, sans-serif;
  font-size: max(3vw, 18px);

  margin: 10px;
  line-height: 0px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #2b2b2b;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0px 10px 3px rgba(0, 0, 0, 0.2);
  &:before {
    content: "Contact-us";
    position: absolute;
    top: 0;
    left: 0;
    color: transparentize(#2b2c2d, 0.9);
    text-shadow: 0px 0px 60px transparentize(lighten(rgb(34, 0, 255), 10%), 0.3);
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: rgb(0, 17, 255);

   animation:(flicker 20s linear infinite);
  }
  &:after {
    content: "Contact-us";
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);

     animation:(flicker 20s linear infinite);
  }
}

@keyframes  flicker {
  0% {
    opacity: 0;
  }

  // flicker
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  11% {
    opacity: 0.4;
  }
  11.25% {
    opacity: 0.6;
  }
  11.5% {
    opacity: 0.4;
  }
  18% {
    opacity: 1;
  }
  18.5% {
    opacity: 0.9;
  }
  22% {
    opacity: 1;
  }

  // flicker
  38.5% {
    opacity: 1;
  }
  39% {
    opacity: 0.8;
  }
  42% {
    opacity: 1;
  }

  // flicker
  60% {
    opacity: 1;
  }
  60.5% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: 0.2;
  }
  63.25% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }

  // flicker
  73% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  79% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 544px){
  .sign-wrap{
    display:none
  }
}
