<div class="header-container">
  <div class="option-container">

    <div *ngFor="let item of ['SignIn','SignUp']">
      <div  *ngIf="!isUserLogged||this.localService.getUserObj().typeOfUser=='guest'&&isUserLogged" class="{{item}}" routerLink="{{item}}">{{item}}</div>
    </div>

    <div *ngFor="let item of ['Setting','allBooks']">
      <div *ngIf="isUserLogged" class="{{item}}" routerLink="{{item}}">{{item}}</div>
    </div>

<div *ngIf="isUserLogged&&this.localService.getUserObj().typeOfUser!='guest'" class="Log-out" (click)="deleteUserInfo()" routerLink="SignIn" >Log-out</div>

  <span  *ngIf="isUserLogged" id="cart" class=" material-symbols-outlined " routerLink="myCart">
  shopping_cart_checkout
  </span>

</div>


</div>


<div class="title1">

  <section class="container ">
    <div class="words word-1">
      <span class="neon" *ngFor="let char of 'BOOK'.split('')">{{char}}</span>
    </div>

    <div class="words word-2">
      <span class="neon" *ngFor="let char of 'STORE'.split('')">{{char}}</span>
    </div>

    <div class="words word-3">
      <span class="neon" *ngFor="let char of 'HOTSALE'.split('')">{{char}}</span>
    </div>
  </section>
</div>



