<div class="header-container">
  <div class="option-container">


      <div  (click)="this.updateIsGuestUser()" *ngIf="!isUserLogged||this.currentUser?.typeOfUser=='guest'&&isUserLogged" class="SignIn" routerLink="sign-In" >{{'SignIn'}}  </div>

      <div  (click)="this.updateIsGuestUser()" *ngIf="!isUserLogged||this.currentUser?.typeOfUser=='guest'&&isUserLogged" class="SignUp" routerLink="sign-Up" >{{'SignUp'}}  </div>



      <div  class="{{'all_Books'.replaceAll('_','')}}" routerLink="users/{{this.currentUser?.email}}/{{'all_Books'.replaceAll('_','')}}"  (click)=" this.updateIsGuestUser()">{{'all_Books'.toUpperCase().charAt(0)+'all_Books'.replaceAll('_',' ').slice(1)}}</div>
      <div *ngIf="isUserLogged&&this.currentUser?.typeOfUser!='guest'" class="{{'Setting'.replaceAll('_','')}}" routerLink="users/{{this.currentUser?.email}}/{{'Setting'}}"  (click)="this.updateIsGuestUser()">{{'Setting'.toUpperCase().charAt(0)+'Setting'.replaceAll('_',' ').slice(1)}}</div>


  <div *ngIf="isUserLogged&&this.currentUser?.typeOfUser!='guest'" class="Log-out" (click)="deleteUserInfo()" routerLink="sign-Up" >Log-out</div>

  <span (click)="this.updateIsGuestUser()" id="cart" class=" material-symbols-outlined "  routerLink="users/{{this.currentUser?.email}}/my-Cart" >
  shopping_cart_checkout
  </span>

</div>


</div>


<div class="title1">

  <section class="container ">
    <div class="words word-1">
      <span class="neon" *ngFor="let char of 'BOOK'.split('')">{{char}}</span>
    </div>

    <div class="words word-2">
      <span class="neon" *ngFor="let char of 'STORE'.split('')">{{char}}</span>
    </div>

    <div class="words word-3">
      <span class="neon" *ngFor="let char of 'HOTSALE'.split('')">{{char}}</span>
    </div>
  </section>
</div>



