<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login" id="background">
  <h2 class="active"> sign up </h2>

  <form [formGroup]="subscribeForm">

    <input id="input" type="text" class="text" name="name"
    formControlName="name"
    placeholder="name"

    [ngClass]="
    Name?.touched && Name?.invalid ? '.input-text__Invalid' : ''"
    >
     <span>username</span>

    <div *ngIf="Name?.touched && Name?.invalid" class="invalid-message">
      {{
        this.userInfoService.getInvalidMessage(
          Name?.errors,
          "name",
          "minlength",
          this.errorMessages.name
        )
      }}


    </div>
    <br>
    <br>
    <input id="input1" type="password" class="text" name="password"
    formControlName="password"
    placeholder="password"
    [ngClass]="
    Password?.touched && Password?.invalid ? '.input-text__Invalid' : ''"
    >
    <span>password</span>
    <div *ngIf="Password?.touched && Password?.invalid" class="invalid-message">
      {{
        this.userInfoService.getInvalidMessage(
          Password?.errors,
          "password",
          "minlength",
          this.errorMessages.password
        )
      }}
      </div>
    <input  id="input2" type="email" class="text" name="email"
    formControlName="email"
    placeholder="email"
    [ngClass]="
    Email?.touched && Email?.invalid ? '.input-text__Invalid' : ''
      "
    >
    <span>email</span>
    <div *ngIf="Email?.touched && Email?.invalid" class="invalid-message">
      {{
        this.userInfoService.getInvalidMessage(
          Email?.errors,
          "email",
          "email",
          this.errorMessages.email
        )
      }}
    </div>
    <br>


    <div class="typeOfUser" *ngIf="TypeOfUser?.touched && TypeOfUser?.invalid" class="invalid-message">
      {{
        this.userInfoService.getInvalidMessage(
          TypeOfUser?.errors,
          "typeOfUser",
          "typeOfUser",
          this.errorMessages.typeOfUser
        )
      }}
    </div>

 <div>
   <div class="type-Of-User">type of user</div>
    <select id="typeOfUser"  formControlName="typeOfUser">
      <option value="user">user</option>
      <option value="admin">admin</option>
    </select>

</div>


    <button class="button-submit" [disabled]="subscribeForm.invalid" class="signin" (click)="SignUpHandler();">
      Sign Up
    </button>

    <div *ngIf="this.localService.getUserObj()?.typeOfUser!='guest'" class="Log-as-guest btn-hover color-1" (click)="CreateGuestUser()">Log as guest</div>
    <hr>
  </form>
</div>
