#background{
  background: url('https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}
.input-text__Invalid {
  border: 1px solid #d90429;
}
.invalid-message {
  color: #d90429;
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

#input{
  height: 40px;
  width: 300px;
}
.typeOfUser{
  color: #18a832;
  font-size: 18px;
}
select{
  border-radius: 10px;
  height: 40px;
  font-weight: 500;
  width: 67px;
  margin-left: 5px;
  font-size: 15px;
}
.button-submit:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.type-Of-User{
  color: gray;
  font-size: 17px;
}
.Log-as-guest{
  color: bisque;
  font-size: 17px;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  position: absolute;
  bottom: 0px;
  right:25px;
  width: 125px;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

