
<div id="big-container" class="big-container">
  <div class="container-gif-and-options">
<div class="admin-gif">
<div class="containerAdmin" id="containerAdmin">

<div class="container">
<div class="glow-on-hover" (click)="this.isBooksPanelOpen=true">
  Delete or Edit book
</div>


<div class="glow-on-hover" (click)="this.isAddBookModalOpen=true">  Add book
</div>
<div *ngIf="this.isBooksPanelOpen" class="glow-on-hover" (click)="this.isBooksPanelOpen=false">
  Close open panel
</div>
</div>
</div>

</div>
<div class="gray-background"  *ngIf="this.isAddBookModalOpen" >

<div class="modal-addBook" *ngIf="this.isAddBookModalOpen">
  <div class="x" (click)="this.isAddBookModalOpen=false;">x</div>


  <div *ngFor="let item of ['Book_Name', 'price', 'author_Name', 'book_Id']">
    <div class="message">Please enter the {{item.toLowerCase().replaceAll('_', " ")}}:</div>
    <input type="text" [(ngModel)]="book[item]">
  </div>


<button class="glow-on-hover" (click)="addBook();this.isAddBookModalOpen=false;">Add book</button>
</div>





</div>



<app-books-list *ngIf="this.isBooksPanelOpen" [booksToDisplay]="booksToDisplay" [clickHandler]="deleteBook" [secondClickHandler]="editBook" [secondBtnTitle]="'Edit book'" [btnTitle]="'Delete book'"></app-books-list>
</div>
